body
  background-color: lightblue

.jumbotron_image
  width: 100%
  height: 100%
  box-sizing: border-box
  background: url("../img/shop/shop1.jpg")
  background-size: cover
  background-repeat: no-repeat

