//bootstrap variable overrides
$primary: #fd7e14
$body-bg: lightgray

//importing bootstrap styles
@import '../node_modules/bootstrap/scss/bootstrap'

//custom styles
.jumbotron_image
  width: 100%
  height: 100%
  box-sizing: border-box
  background: url("../img/shop/shop1.jpg")
  background-size: cover
  background-repeat: no-repeat

.phone
  background: url("../img/icons/call-answer1.png")

.smile
  background: url("../img/icons/smiling.png")

.tick
  background: url("../img/icons/checked.png")

.avatar
  background: url("../img/icons/man-user.png")

.phone, .smile, .tick, .avatar
  display: inline-block
  width: 16px
  height: 16px
  margin-right: 3px
  background-size: cover

.icon-facebook
  color: #2B4B82

.icon-instagram
  color: #796054

.icon-youtube
  color: #E13A3A

.icon-twitter
  color: #64A3D1

.soc-icon
  display: inline-block
  margin: 0 5px
  &:hover
    opacity: 0.9

.footer, .achievements
  background-color: #E9ECEF

.nav-link
  font-size: 1.2rem

.card
  min-width: 280px
  max-width: 340px

.container-fluid
  min-width: 380px
  background: url("../img/back.jpg")

html
  font-size: 0.8rem

@include media-breakpoint-up(sm)
  html
    font-size: 0.9rem

@include media-breakpoint-up(md)
  html
    font-size: 0.95rem

@include media-breakpoint-up(lg)
  html
    font-size: 1rem

.navbar-brand
  max-width: 200px

.shop-logo
  width: 100%
  height: 100%
  object-fit: cover

.handwriting
  font-family: 'Kaushan Script', cursive